.userPhoto {
    width: 150px;
    height: 150px;
}

.selectedPage {
    background-color: slategray;
    cursor: pointer;
    font-weight: bold;
}

.page {
    margin: 0 3px;
}

.loader {
    height: 100px;
    width: 100px;
    margin: 0 auto;
}