header {
    grid-area: h;
    background-color: rgb(33, 33, 33);
    /*background-color: rgb(1,190,114);*/
}

header img {
    width: 70px;
    padding: 10px;
}

.loginBlock {
    float: right;
    color: rgb(0, 216, 255);
    font-weight: bold;
}

.loginBlock > a {
    color: rgb(0, 216, 255);
    text-decoration: none;
}